<% include partials/header.ejs %>
    <div class="table-wrapper">
        <% if (players.length > 0) {%>
            <table class="table">
                <thead class="thead-dark">
                    <tr class="text-center">
                        <th scope="col">ID</th>
                        <th scope="col">성</th>
                        <th scope="col">이름</th>
                        <th scope="col">사는곳</th>
                        <th scope="col">생년월일</th>
                        <th scope="col">별명</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% players.forEach((player, index) => { %>
                        <tr class="text-center">
                            <th scope="row"><%= player.id %></th>
                            <td><%= player.first_name %></td>
                            <td><%= player.last_name %></td>
                            <td><%= player.position %></td>
                            <td><%= player.number %></td>
                            <td>@<%= player.user_name %></td>
                            <td>
                                <a href="/edit/<%= player.id %>" target="_blank" rel="noopener" class="btn btn-sm btn-success">수정</a>
                                <a href="/delete/<%= player.id %>" class="btn btn-sm btn-danger">삭제</a>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
            <p class="text-center">Version:2, IP Address : <%=message%></p>
        <% } else { %>
            <p class="text-center">항목이 없습니다. 새로 등록하시려면 <a href="/add" >여기</a> 클릭하십시오.</p>
            <p class="text-center">Version:2, IP Address : <%=message%></p>
        <% } %>
    </div>
</div>
</body>
</html>
